@font-face {
    font-family:'Love';
    src: url('fonts/CreativZoo\ Serif\ v2.1.ttf') format('truetype'), url('fonts/CreativZoo\ Serif\ v2.1.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* HEADER */
  /* Estilos gerais para o corpo da página */
  body {
    background-color: #252525; /* Cor de fundo do corpo */
    color: #FFF; /* Cor do texto */
  }
  
  /* Classes para diferentes cores de fundo */
  .primary-bg-color {
    background-color: #252525;
  }
  .destaque {
    background-color: #ffffff;
  }
  .secondary-bg-color {
    background-color: #C2F1AF
    ;
  }
  .light-bg-color {
    background-color: #FCF5EB;
  }
  .dark-bg-color {
    background-color: #0D0D0D;
  }
  
  /* _____________________________________________________ */
  /* Estilos para a barra de navegação (navbar) */


  /* Ajusta a direção e alinhamento dos itens da barra de navegação */
  #navbar .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
  }
  
  /* Define margem à esquerda para os itens da barra de navegação */
  #navbar .navbar-nav li {
    margin-left: 1em;
  }
  
  /* Define a cor do texto e links na barra de navegação */
  #navbar a,
  #navbar button {
    color: #FFF;
  }
  
  /* Ajusta a posição dos itens da barra de navegação */
  #navbar li {
    position: relative;
  }
  
  /* Define estilo para ícones na barra de navegação */
  #navbar i {
    font-size: 20px;
  }
  
  /* Define estilo de cor quando o mouse passa sobre os ícones */
  #navbar i:hover {
    color: #231c32;
  }
  
  /* Define estilo para caixa com número (ex: quantidade de itens) */
  #navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EF3636;
    text-align: center;
  }
  
  /* Posiciona a caixa com número no item de sacola de compras */
  #bag-item span {
    left: 20px;
  }
  
  /* Estilos para a marca/logo na barra de navegação */
  .navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
  
  /* Estilo de hover para links 'sobre' */
  .sobre a:hover {
    color: #ffffff !important; /* Importante para sobrepor outros estilos */
  }
  
  /* Ajusta estilo quando a largura da tela é maior que 768px */
  @media(min-width: 768px) {
    .navbar-brand {
      text-align: left;
    }
  }
  
  /* Ajusta espaçamento entre itens da barra de navegação */
  #navbar-items {
    justify-content: space-between;
  }
  
  /* Ajusta espaçamento quando a largura da tela é maior que 768px */
  @media(min-width: 768px) {
    #navbar-items {
      display: flex;
      min-width: 80%;
    }
  }
  
  /* Estilos para formulários de busca e newsletter */
  #search-form,
  #news-form {
    width: 100%;
    margin: 2em 0;
  }
  
  /* Ajusta largura e margem quando a largura da tela é maior que 768px */
  @media(min-width: 768px) {
    #search-form,
    #news-form {
      width: 50%;
      margin: 0;
    }
  }
  
  /* Estilos para campos de input em formulários */
  #search-form,
  #news-form {
    border: 2px solid #F2F2F2;
    border-radius: 3px;
    padding: 5px 15px;
  }
  
  /* Estilos para campos de input quando focados */
  #search-form input,
  #news-form input {
    background-color: transparent;
    border: none;
    color: #FFF;
  }
  
  /* Estilos para campos de input quando focados */
  #search-form input:focus,
  #news-form input:focus {
    box-shadow: none;
  }
  
  /* Estilos para placeholders em campos de input */
  #search-form input::placeholder,
  #news-form input::placeholder {
    color: #FFF;
  }
  
  /* _____________________________________________________ */
  /* Estilos para a barra de navegação inferior (bottom-navbar) */
  
  /* Ajusta a posição dos itens na barra de navegação inferior */
  #bottom-navbar-container .container {
    justify-content: flex-end;
  }
  
  /* Define cor do texto e links na barra de navegação inferior */
  #bottom-navbar-container a {
    color: #28680F;
    font-weight: 600;
  }
  
  /* Define tamanho do ícone do botão para mostrar/esconder o menu */
  .navbar-toggler {
    font-size: 1.5em;
  }
  
/* font-family: 'Natal', cursive;
font-size: 5em; */

/* ______________________________________________________________________________________________- */
/* ___________________________________________________________ */
/* Estilos para os banners */

/* Define espaçamento interno para o contêiner de banners */
#banners-container {
    padding: 0;
  }
  
  /* Posicionamento e espaçamento para a legenda do carousel */
  .carousel-caption {
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;
  }
  
  /* Estilos para o título na legenda do carousel
  .carousel-caption h5 {
    font-size: 1.8em;
  } */
  
  /* Media query para telas com largura mínima de 768px */
  @media(min-width: 768px) {
    /* Ajusta altura dos itens do carousel e imagens */
    #slider .carousel-item,
    #slider img {
      height: 600px;
    }
  
    Ajusta posicionamento e espaçamento da legenda do carousel
    .carousel-caption {
      left: 23%;
      right: 23%;
    }
  
    /* Ajusta tamanho do título na legenda do carousel */
    .carousel-caption h5 {
      font-size: 4em;
    }
  }


/* ____________________________________________________ */
/* FOOTER */

/* Estilos para a linha que separa os links do rodapé */
#footer-links-container {
    border-bottom: 1px solid #F2F2F2;
}

/* Estilos para as colunas no rodapé */
#footer .footer-column {
    padding: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos para as colunas do rodapé em telas maiores */
@media(min-width: 795px) {
    #footer .footer-column {
        padding: 5em 2em;
    }
}

/* Estilos para os títulos das colunas de links no rodapé */
#footer-links-container h3 {
    margin-bottom: 25px;
    text-transform: uppercase;
}

/* Estilos para os itens de lista nos links do rodapé */
#footer-links-container li {
    font-size: .8em;
    text-align: center;
}

/* Estilos para os links nos itens da lista do rodapé */
#footer-links-container li a {
    text-decoration: none;
}

/* Estilos ao passar o mouse sobre os links nos itens de lista do rodapé */
#footer-links-container li a:hover {
    color: #66C740;
}

/* Estilos para a coluna central do rodapé */
#footer-center {
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}

/* Estilos para o número de telefone na coluna central do rodapé */
#footer-center h3 {
    font-weight: 900;
}

/* Estilos para o número de telefone na coluna central no rodapé */
#footer-center .store-phone {
    color: #66C740;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -15px;
}

/* _________________________________________________ */
/* NEWS */

/* Estilos para o container da seção de newsletter */
#newsletter-container {
    background-color: #0D0D0D;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    padding: 20px;
}

/* Estilos para o formulário de inscrição na newsletter */
#news-form {
    max-width: 600px;
    margin: 15px auto;
}

/* Estilos para o ícone no formulário de inscrição */
#news-form i {
    font-size: 1.5em;
}

/* Estilos para o botão no formulário de inscrição */
#news-form .btn {
    color: #FFF;
}

/* Estilos para o container das redes sociais */
#social-container {
    margin: 20px auto;
}

/* Estilos para os ícones de redes sociais */
#social-container i {
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
    color: #F2F2F2;
    transition: .3s;
}

/* Estilos ao passar o mouse sobre os ícones de redes sociais */
#social-container i:hover {
    color: #66C740;
}

/* _______________________________________________________ */
/* COPY */

/* Estilos para o container de direitos autorais */
#copy-container {
    text-align: center;
    padding: 30px;
}
